$safeFonts: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$poppins: 'Poppins', $safeFonts;
$ubuntu: 'Ubuntu', $safeFonts;

$lightGray: rgb(246, 246, 246);
$lightBlue: rgb(0, 152, 255);
$darkBlue: rgb(3, 4, 94);